===========================router {{inventory_hostname}}==================================
router name : {{allhosts[inventory_hostname].out_model}}
router version : {{allhosts[inventory_hostname].out_version}}
router model : {{allhosts[inventory_hostname].out_model}}
============================================================================================