===========================router {{inventory_hostname}}==================================
router name : {{out_hostname}}
router version : {{out_version}}
router model : {{out_model}}
============================================================================================